In [1]:
import pandas as pd
import numpy as np

In [2]:
# the unique headers on each type of data file
keeper_cols = ["Player","Nation","Pos","Age","MP","Starts","Min","90s","GA","GA90","SoTA","Saves","Save%",
               "W","D","L","CS","CS%","PKatt","PKA","PKsv","PKm","Save%","Matches","-9999"]
adkeeper_cols = ["Player","Nation","Pos","Age","90s","GA","PKA","FK","CK","OG","PSxG","PSxG/SoT","PSxG+/-","/90",
                 "Cmp","Att","Cmp%","Att","Thr","Launch%","AvgLen","Att","Launch%","AvgLen",
                 "Opp","Stp","Stp%","#OPA","#OPA/90","AvgDist","Matches","-9999"]
shoot_cols = ["Player","Nation","Pos","Age","90s","Gls","Sh","SoT","SoT%","Sh/90","SoT/90","G/Sh","G/SoT","Dist","FK","PK",
              "PKatt","xG","npxG","npxG/Sh","G-xG","np:G-xG","Matches","-9999"]
shot_create_cols = ["Player","Nation","Pos","Age","90s","SCA","SCA90","PassLive","PassDead","Drib","Sh","Fld","Def","GCA",
                    "GCA90","PassLive","PassDead","Drib","Sh","Fld","Def","Matches","-9999"]
defensive_cols = ["Player","Nation","Pos","Age","90s","Tkl","TklW","Def 3rd","Mid 3rd","Att 3rd","Tkl","Att","Tkl%",
                  "Past","Blocks","Sh","Pass","Int","Tkl+Int","Clr","Err","Matches","-9999"]
playtime_cols = ["Player","Nation","Pos","Age","MP","Min","Mn/MP","Min%","90s",
                 "Starts","Mn/Start","Compl","Subs","Mn/Sub","unSub","PPM","onG","onGA",
                 "+/-","+/-90","On-Off","onxG","onxGA","xG+/-","xG+/-90","On-Off","Matches","-9999"]
miscell_cols = ["Player","Nation","Pos","Age","90s","CrdY","CrdR","2CrdY","Fls","Fld","Off","Crs","Int","TklW","PKwon",
                "PKcon","OG","Recov","Won","Lost","Won%","Matches","-9999"]

In [3]:
keeper_files = ["datasets/advanced/brighton/keeper17-18.csv", "datasets/advanced/brighton/keeper18-19.csv", "datasets/advanced/leeds/keeper20-21.csv",
               "datasets/advanced/leeds/keeper21-22.csv", "datasets/advanced/newcastle/keeper17-18.csv", "datasets/advanced/newcastle/keeper18-19.csv",
               "datasets/advanced/huddersfield/default-keeper17-18.csv", "datasets/advanced/huddersfield/keeper18-19.csv", "datasets/advanced/sheffutd/keeper19-20.csv",
               "datasets/advanced/sheffutd/keeper20-21.csv",
               "datasets/advanced/villa/keeper19-20.csv", "datasets/advanced/villa/keeper20-21.csv"]
dfnames = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']
dataframes = []
#### get wolves data later on
# "df15", "df16"
# "datasets/advanced/wolves/keeper18-19.csv", "datasets/advanced/wolves/keeper19-20.csv"

In [4]:
## create dataframes with split out columns
# original format has all columns in just one column
# this function splits on comma and creates all necessary columns for each file
def create_df(files, new_df, new_cols):
    for i in range(len(files)):
        csvfile = pd.read_csv(files[i], encoding = 'iso-8859-1')
        #print(csvfile.columns)
        #print(i)
        csvfile = csvfile.rename(columns = {'ï»¿"Player': 'Name'})
        new_df = pd.DataFrame(csvfile.Name.str.split(',').tolist(),
                                     columns = new_cols)
        new_df.drop(columns = ['Matches', '-9999'], inplace = True)

In [5]:
## create dataframes with new function
create_df(keeper_files, dfnames, keeper_cols)

In [6]:
dfnames[0]

'df3'

In [7]:
df3 = dfnames[0]
df4 = dfnames[1]
df5 = dfnames[2]
df6 = dfnames[3]
df7 = dfnames[4]
df8 = dfnames[5]
df9 = dfnames[6]
df10 = dfnames[7]
df11 = dfnames[8]
df12 = dfnames[9]
df13 = dfnames[10]
df14 = dfnames[11]

In [8]:
adkeeper_files = ["datasets/advanced/brighton/advancedkeeper17-18.csv", "datasets/advanced/brighton/advancedkeeper18-19.csv", "datasets/advanced/leeds/keeper-ad-2021.csv",
               "datasets/advanced/leeds/keeper-ad-2122.csv", "datasets/advanced/newcastle/advancedkeep17-18.csv", "datasets/advanced/newcastle/advancedkeep18-19.csv",
               "datasets/advanced/huddersfield/advancedkeep17-18.csv", "datasets/advanced/huddersfield/advancedkeep18-19.csv", 
                  "datasets/advanced/sheffutd/advancedkeeper19-20.csv", "datasets/advanced/sheffutd/advancedkeeper20-21.csv",
               "datasets/advanced/villa/advancedkeeper19-20.csv", "datasets/advanced/villa/advancedkeeper20-21.csv"]
dfnames_adkeeper = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [9]:
create_df(adkeeper_files, dfnames_adkeeper, adkeeper_cols)

In [10]:
df17 = dfnames_adkeeper[0]
df18 = dfnames_adkeeper[1]
df19 = dfnames_adkeeper[2]
df20 = dfnames_adkeeper[3]
df21 = dfnames_adkeeper[4]
df22 = dfnames_adkeeper[5]
df23 = dfnames_adkeeper[6]
df24 = dfnames_adkeeper[7]
df25 = dfnames_adkeeper[8]
df26 = dfnames_adkeeper[9]
df27 = dfnames_adkeeper[10]
df28 = dfnames_adkeeper[11]

In [11]:
## shooting
shooting_files = ["datasets/advanced/brighton/shooting17-18.csv", "datasets/advanced/brighton/shooting18-19.csv", "datasets/advanced/leeds/shooting20-21.csv",
               "datasets/advanced/leeds/shooting21-22.csv", "datasets/advanced/newcastle/shooting17-18.csv", "datasets/advanced/newcastle/shooting18-19.csv",
               "datasets/advanced/huddersfield/shooting17-18.csv", "datasets/advanced/huddersfield/shooting18-19.csv", 
                  "datasets/advanced/sheffutd/shooting19-20.csv", "datasets/advanced/sheffutd/shooting20-21.csv",
               "datasets/advanced/villa/shooting19-20.csv", "datasets/advanced/villa/shooting20-21.csv"]
## dummy values in list to be replaced by dataframes
dfnames_shooting = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [12]:
create_df(shooting_files, dfnames_shooting, shoot_cols)

In [13]:
df29 = dfnames_shooting[0]
df30 = dfnames_shooting[1]
df31 = dfnames_shooting[2]
df32 = dfnames_shooting[3]
df33 = dfnames_shooting[4]
df34 = dfnames_shooting[5]
df35 = dfnames_shooting[6]
df36 = dfnames_shooting[7]
df37 = dfnames_shooting[8]
df38 = dfnames_shooting[9]
df39 = dfnames_shooting[10]
df40 = dfnames_shooting[11]

In [14]:
## shot creation
shotcreate_files = ["datasets/advanced/brighton/shotcreate17-18.csv", "datasets/advanced/brighton/shotcreate18-19.csv", "datasets/advanced/leeds/shootcreate20-21.csv",
               "datasets/advanced/leeds/shootcreate21-22.csv", "datasets/advanced/newcastle/shotcreate17-18.csv", "datasets/advanced/newcastle/shotcreate18-19.csv",
               "datasets/advanced/huddersfield/shotcreate17-18.csv", "datasets/advanced/huddersfield/shotcreate18-19.csv", 
                  "datasets/advanced/sheffutd/shotcreate19-20.csv", "datasets/advanced/sheffutd/shotcreate20-21.csv",
               "datasets/advanced/villa/shotcreate19-20.csv", "datasets/advanced/villa/shotcreate20-21.csv"]
## dummy values in list to be replaced by dataframes
dfnames_shotcreate = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [15]:
create_df(shotcreate_files, dfnames_shotcreate, shot_create_cols)

In [16]:
df41 = dfnames_shotcreate[0]
df42 = dfnames_shotcreate[1]
df43 = dfnames_shotcreate[2]
df44 = dfnames_shotcreate[3]
df45 = dfnames_shotcreate[4]
df46 = dfnames_shotcreate[5]
df47 = dfnames_shotcreate[6]
df48 = dfnames_shotcreate[7]
df49 = dfnames_shotcreate[8]
df50 = dfnames_shotcreate[9]
df51 = dfnames_shotcreate[10]
df52 = dfnames_shotcreate[11]

In [17]:
## defensive
defensive_files = ["datasets/advanced/brighton/defensiveact17-18.csv", "datasets/advanced/brighton/defensiveact18-19.csv", "datasets/advanced/leeds/defensiveact20-21.csv",
               "datasets/advanced/leeds/defensiveact21-22.csv", "datasets/advanced/newcastle/defensiveact17-18.csv", "datasets/advanced/newcastle/defensiveact18-19.csv",
               "datasets/advanced/huddersfield/defensiveact17-18.csv", "datasets/advanced/huddersfield/defensiveact18-19.csv", 
                  "datasets/advanced/sheffutd/defensiveact19-20.csv", "datasets/advanced/sheffutd/defensiveact20-21.csv",
               "datasets/advanced/villa/defensiveact19-20.csv", "datasets/advanced/villa/defensiveact20-21.csv"]
## dummy values in list to be replaced by dataframes
dfnames_defensive = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [18]:
create_df(defensive_files, dfnames_defensive, defensive_cols)

In [19]:
df53 = dfnames_defensive[0]
df54 = dfnames_defensive[1]
df55 = dfnames_defensive[2]
df56 = dfnames_defensive[3]
df57 = dfnames_defensive[4]
df58 = dfnames_defensive[5]
df59 = dfnames_defensive[6]
df60 = dfnames_defensive[7]
df61 = dfnames_defensive[8]
df62 = dfnames_defensive[9]
df63 = dfnames_defensive[10]
df64 = dfnames_defensive[11]

In [20]:
## playtime
playtime_files = ["datasets/advanced/brighton/playtime17-18.csv", "datasets/advanced/brighton/playtime18-19.csv", "datasets/advanced/leeds/playtime20-21.csv",
               "datasets/advanced/leeds/playtime21-22.csv", "datasets/advanced/newcastle/playtime17-18.csv", "datasets/advanced/newcastle/playtime18-19.csv",
               "datasets/advanced/huddersfield/playtime17-18.csv", "datasets/advanced/huddersfield/playtime18-19.csv", 
                  "datasets/advanced/sheffutd/playtime19-20.csv", "datasets/advanced/sheffutd/playtime20-21.csv",
               "datasets/advanced/villa/playtime19-20.csv", "datasets/advanced/villa/playtime20-21.csv"]
## dummy values in list to be replaced by dataframes
dfnames_playtime = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [21]:
create_df(playtime_files, dfnames_playtime, playtime_cols)

In [22]:
df65 = dfnames_playtime[0]
df66 = dfnames_playtime[1]
df67 = dfnames_playtime[2]
df68 = dfnames_playtime[3]
df69 = dfnames_playtime[4]
df70 = dfnames_playtime[5]
df71 = dfnames_playtime[6]
df72 = dfnames_playtime[7]
df73 = dfnames_playtime[8]
df74 = dfnames_playtime[9]
df75 = dfnames_playtime[10]
df76 = dfnames_playtime[11]

In [23]:
## miscell
miscell_files = ["datasets/advanced/brighton/miscell17-18.csv", "datasets/advanced/brighton/miscell18-19.csv", "datasets/advanced/leeds/miscell20-21.csv",
               "datasets/advanced/leeds/miscell21-22.csv", "datasets/advanced/newcastle/miscell17-18.csv", "datasets/advanced/newcastle/miscell18-19.csv",
               "datasets/advanced/huddersfield/miscell17-18.csv", "datasets/advanced/huddersfield/miscell18-19.csv", 
                  "datasets/advanced/sheffutd/miscell19-20.csv", "datasets/advanced/sheffutd/miscell20-21.csv",
               "datasets/advanced/villa/miscell19-20.csv", "datasets/advanced/villa/miscell20-21.csv"]
## dummy values in list to be replaced by dataframes
dfnames_miscell = ['df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11', 'df12', 'df13', 'df14']

In [24]:
create_df(miscell_files, dfnames_miscell, miscell_cols)

In [25]:
df77 = dfnames_miscell[0]
df78 = dfnames_miscell[1]
df79 = dfnames_miscell[2]
df80 = dfnames_miscell[3]
df81 = dfnames_miscell[4]
df82 = dfnames_miscell[5]
df83 = dfnames_miscell[6]
df84 = dfnames_miscell[7]
df85 = dfnames_miscell[8]
df86 = dfnames_miscell[9]
df87 = dfnames_miscell[10]
df88 = dfnames_miscell[11]