In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
import os
import glob

path = 'C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced'
extension = 'csv'
os.chdir(path)
result = glob.glob('*adkeeper*.{}'.format(extension))
print(result)
print(len(result))

['brighton-adkeeper1718-cleaned.csv', 'brighton-adkeeper18-19-cleaned.csv', 'huddersfield-adkeeper1718-cleaned.csv', 'huddersfield-adkeeper1819-cleaned.csv', 'leeds-adkeeper2021-cleaned.csv', 'leeds-adkeeper2122-cleaned.csv', 'newcastle-adkeeper1718-cleaned.csv', 'newcastle-adkeeper1819-cleaned.csv', 'sheffutd-adkeeper1920-cleaned.csv', 'sheffutd-adkeeper2021-cleaned.csv', 'villa-adkeeper1920-cleaned.csv', 'villa-adkeeper2021-cleaned.csv', 'wolves-adkeeper1819-cleaned.csv', 'wolves-adkeeper1920-cleaned.csv']
14

In [3]:
bri_s1 = pd.read_csv(result[0])
bri_s2 = pd.read_csv(result[1])
# hudds
hudds_s1 = pd.read_csv(result[2])
hudds_s2 = pd.read_csv(result[3])
## leeds
leeds_s1 = pd.read_csv(result[4])
leeds_s2 = pd.read_csv(result[5])
## newcastle
new_s1 = pd.read_csv(result[6])
new_s2 = pd.read_csv(result[7])
## sheff u
sheff_s1 = pd.read_csv(result[8])
sheff_s2 = pd.read_csv(result[9])
## villa
villa_s1 = pd.read_csv(result[10])
villa_s2 = pd.read_csv(result[11])
## wolves 
wolves_s1 = pd.read_csv(result[12])
wolves_s2 = pd.read_csv(result[13])

In [4]:
### squad totals for Season 1
wolvestotals_s1 = wolves_s1.loc[wolves_s1['Player'] == 'Squad Total']
newtotals_s1 = new_s1.loc[new_s1['Player'] == 'Squad Total']
britotals_s1 = bri_s1.loc[bri_s1['Player'] == 'Squad Total']
huddsstotals_s1 = hudds_s1.loc[hudds_s1['Player'] == 'Jonas LÃ¶ssl']
sheffutdtotals_s1 = sheff_s1.loc[sheff_s1['Player'] == 'Squad Total']
villatotals_s1 = villa_s1.loc[villa_s1['Player'] == 'Squad Total']
leetotals_s1 = leeds_s1.loc[leeds_s1['Player'] == 'Squad Total']

In [5]:
### squad totals for Season 2
wolvestotals_s2 = wolves_s2.loc[wolves_s2['Player'] == 'Squad Total']
newtotals_s2 = new_s2.loc[new_s2['Player'] == 'Squad Total']
britotals_s2 = bri_s2.loc[bri_s2['Player'] == 'Squad Total']
huddsstotals_s2 = hudds_s2.loc[hudds_s2['Player'] == 'Squad Total']
sheffutdtotals_s2 = sheff_s2.loc[sheff_s2['Player'] == 'Squad Total']
villatotals_s2 = villa_s2.loc[villa_s2['Player'] == 'Squad Total']
leetotals_s2 = leeds_s2.loc[leeds_s2['Player'] == 'Squad Total']

In [6]:
### replace squad totals
# s2
wolvestotals_s2.replace({'Player': {'Squad Total': 'Wolves S2'}}, inplace = True)
newtotals_s2.replace({'Player': {'Squad Total': 'Newcastle S2'}}, inplace = True)
britotals_s2.replace({'Player': {'Squad Total': 'Brighton S2'}}, inplace = True)
huddsstotals_s2.replace({'Player': {'Squad Total': 'Huddersfield S2'}}, inplace = True)
sheffutdtotals_s2.replace({'Player': {'Squad Total': 'Sheffield Utd S2'}}, inplace = True)
villatotals_s2.replace({'Player': {'Squad Total': 'Aston Villa S2'}}, inplace = True)
leetotals_s2.replace({'Player': {'Squad Total': 'Leeds United S2'}}, inplace = True)
# s1
wolvestotals_s1.replace({'Player': {'Squad Total': 'Wolves S1'}}, inplace = True)
newtotals_s1.replace({'Player': {'Squad Total': 'Newcastle S1'}}, inplace = True)
britotals_s1.replace({'Player': {'Squad Total': 'Brighton S1'}}, inplace = True)
huddsstotals_s1.replace({'Player': {'Jonas LÃ¶ssl': 'Huddersfield S1'}}, inplace = True)
sheffutdtotals_s1.replace({'Player': {'Squad Total': 'Sheffield Utd S1'}}, inplace = True)
villatotals_s1.replace({'Player': {'Squad Total': 'Aston Villa S1'}}, inplace = True)
leetotals_s1.replace({'Player': {'Squad Total': 'Leeds United S1'}}, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [7]:
all_joined_squads = pd.concat([wolvestotals_s2, newtotals_s2, britotals_s2, huddsstotals_s2, sheffutdtotals_s2, villatotals_s2,
          leetotals_s2, wolvestotals_s1, newtotals_s1, britotals_s1, huddsstotals_s1, sheffutdtotals_s1,
          villatotals_s1, leetotals_s1], axis=0)

In [8]:
all_joined_squads.drop(columns = ['Pos', 'Nation'], inplace = True)

In [9]:
all_joined_squads

,Player,Age,90s,GA,PKA,FK,CK,OG,ExpectedPSxG,ExpectedPSxG/SoT,...,PassesAvgLen,GoalKickAtt,GoalKickLaunch%,GoalKickAvgLen,CrossesOpp,CrossesStp,CrossesStp%,Sweep#OPA,Sweep#OPA/90,SweepAvgDist
1,Wolves S2,26.6,38.0,40.0,1.0,1.0,6.0,1.0,35.5,0.26,...,39.0,283,78.1,48.7,530,20.0,3.8,11.0,0.29,11.7
1,Newcastle S2,26.9,38.0,48.0,6.0,2.0,9.0,1.0,42.3,0.27,...,38.9,323,84.8,57.9,651,43.0,6.6,33.0,0.87,12.0
2,Brighton S2,27.4,38.0,60.0,10.0,1.0,5.0,0.0,55.9,0.28,...,43.2,358,93.6,59.4,561,20.0,3.6,13.0,0.34,11.9
3,Huddersfield S2,26.2,38.0,76.0,7.0,3.0,7.0,1.0,61.1,0.29,...,42.0,281,78.6,56.0,426,30.0,7.0,34.0,0.89,13.3
1,Sheffield Utd S2,26.7,38.0,63.0,3.0,0.0,8.0,3.0,54.3,0.26,...,45.5,281,91.8,64.5,578,33.0,5.7,34.0,0.89,12.8
1,Aston Villa S2,25.2,38.0,46.0,5.0,2.0,4.0,1.0,49.2,0.24,...,37.1,253,64.0,47.0,613,42.0,6.9,34.0,0.89,14.2
2,Leeds United S2,26.1,38.0,79.0,5.0,3.0,10.0,1.0,62.4,0.26,...,29.3,291,37.1,33.2,445,23.0,5.2,47.0,1.24,14.4
3,Wolves S1,26.1,38.0,46.0,3.0,1.0,6.0,4.0,39.4,0.26,...,39.1,291,82.8,50.5,508,15.0,3.0,18.0,0.47,12.1
3,Newcastle S1,25.6,38.0,47.0,4.0,0.0,3.0,3.0,48.8,0.30,...,42.2,339,83.8,56.4,601,39.0,6.5,32.0,0.84,12.7
1,Brighton S1,27.5,38.0,54.0,1.0,1.0,15.0,5.0,48.8,0.28,...,44.5,352,93.2,57.9,623,38.0,6.1,17.0,0.45,10.2
0,Huddersfield S1,28.0,38.0,58.0,4.0,0.0,6.0,1.0,51.7,0.30,...,45.2,304,81.6,57.9,493,31.0,6.3,55.0,1.45,14.4
2,Sheffield Utd S1,26.9,38.0,39.0,1.0,0.0,2.0,0.0,43.7,0.32,...,51.9,272,97.4,69.1,572,20.0,3.5,23.0,0.61,12.3
4,Aston Villa S1,25.7,38.0,67.0,5.0,1.0,9.0,1.0,51.6,0.25,...,38.7,343,67.9,49.4,628,23.0,3.7,28.0,0.74,13.5
2,Leeds United S1,26.1,38.0,54.0,8.0,1.0,11.0,2.0,49.9,0.21,...,27.1,298,32.2,28.9,477,28.0,5.9,20.0,0.53,11.8

In [10]:
s1 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S1")]
s1

,Player,Age,90s,GA,PKA,FK,CK,OG,ExpectedPSxG,ExpectedPSxG/SoT,...,PassesAvgLen,GoalKickAtt,GoalKickLaunch%,GoalKickAvgLen,CrossesOpp,CrossesStp,CrossesStp%,Sweep#OPA,Sweep#OPA/90,SweepAvgDist
3,Wolves S1,26.1,38.0,46.0,3.0,1.0,6.0,4.0,39.4,0.26,...,39.1,291,82.8,50.5,508,15.0,3.0,18.0,0.47,12.1
3,Newcastle S1,25.6,38.0,47.0,4.0,0.0,3.0,3.0,48.8,0.30,...,42.2,339,83.8,56.4,601,39.0,6.5,32.0,0.84,12.7
1,Brighton S1,27.5,38.0,54.0,1.0,1.0,15.0,5.0,48.8,0.28,...,44.5,352,93.2,57.9,623,38.0,6.1,17.0,0.45,10.2
0,Huddersfield S1,28.0,38.0,58.0,4.0,0.0,6.0,1.0,51.7,0.30,...,45.2,304,81.6,57.9,493,31.0,6.3,55.0,1.45,14.4
2,Sheffield Utd S1,26.9,38.0,39.0,1.0,0.0,2.0,0.0,43.7,0.32,...,51.9,272,97.4,69.1,572,20.0,3.5,23.0,0.61,12.3
4,Aston Villa S1,25.7,38.0,67.0,5.0,1.0,9.0,1.0,51.6,0.25,...,38.7,343,67.9,49.4,628,23.0,3.7,28.0,0.74,13.5
2,Leeds United S1,26.1,38.0,54.0,8.0,1.0,11.0,2.0,49.9,0.21,...,27.1,298,32.2,28.9,477,28.0,5.9,20.0,0.53,11.8

In [11]:
x = 0
for col in s1.columns:
    name = s1.columns[x] + "Season1"
    s1 = s1.rename(columns={col:name})
    x = x + 1

In [12]:
s1.drop(columns=['90sSeason1', 'AgeSeason1'], inplace = True)

In [13]:
s2 = all_joined_squads.loc[all_joined_squads['Player'].str.contains("S2")]
x = 0
for col in s2.columns:
    name = s2.columns[x] + "Season2"
    s2 = s2.rename(columns={col:name})
    x = x + 1
s2.drop(columns=['90sSeason2', 'AgeSeason2'], inplace = True)
s2

,PlayerSeason2,GASeason2,PKASeason2,FKSeason2,CKSeason2,OGSeason2,ExpectedPSxGSeason2,ExpectedPSxG/SoTSeason2,ExpectedPSxG+/-Season2,Expected/90Season2,...,PassesAvgLenSeason2,GoalKickAttSeason2,GoalKickLaunch%Season2,GoalKickAvgLenSeason2,CrossesOppSeason2,CrossesStpSeason2,CrossesStp%Season2,Sweep#OPASeason2,Sweep#OPA/90Season2,SweepAvgDistSeason2
1,Wolves S2,40.0,1.0,1.0,6.0,1.0,35.5,0.26,-3.5,-0.09,...,39.0,283,78.1,48.7,530,20.0,3.8,11.0,0.29,11.7
1,Newcastle S2,48.0,6.0,2.0,9.0,1.0,42.3,0.27,-4.7,-0.12,...,38.9,323,84.8,57.9,651,43.0,6.6,33.0,0.87,12.0
2,Brighton S2,60.0,10.0,1.0,5.0,0.0,55.9,0.28,-4.1,-0.11,...,43.2,358,93.6,59.4,561,20.0,3.6,13.0,0.34,11.9
3,Huddersfield S2,76.0,7.0,3.0,7.0,1.0,61.1,0.29,-13.9,-0.37,...,42.0,281,78.6,56.0,426,30.0,7.0,34.0,0.89,13.3
1,Sheffield Utd S2,63.0,3.0,0.0,8.0,3.0,54.3,0.26,-5.7,-0.15,...,45.5,281,91.8,64.5,578,33.0,5.7,34.0,0.89,12.8
1,Aston Villa S2,46.0,5.0,2.0,4.0,1.0,49.2,0.24,4.2,0.11,...,37.1,253,64.0,47.0,613,42.0,6.9,34.0,0.89,14.2
2,Leeds United S2,79.0,5.0,3.0,10.0,1.0,62.4,0.26,-15.6,-0.41,...,29.3,291,37.1,33.2,445,23.0,5.2,47.0,1.24,14.4

In [37]:
def change_names(df, string, string2):
    df.replace({'Player' + string2: {'Wolves ' + string: 'Wolves'}}, inplace = True)
    df.replace({'Player' + string2: {'Newcastle ' + string: 'Newcastle'}}, inplace = True)
    df.replace({'Player' + string2: {'Brighton ' + string: 'Brighton'}}, inplace = True)
    df.replace({'Player' + string2: {'Huddersfield ' + string: 'Huddersfield'}}, inplace = True)
    df.replace({'Player' + string2: {'Sheffield Utd ' + string: 'Sheffield Utd'}}, inplace = True)
    df.replace({'Player' + string2: {'Aston Villa ' + string: 'Aston Villa'}}, inplace = True)
    df.replace({'Player' + string2: {'Leeds United ' + string: 'Leeds United'}}, inplace = True)
    df.rename(columns = {'Player' + string2: "Team"}, inplace = True)
    return df

In [38]:
change_names(s1, "S1", "Season1")
change_names(s2, "S2", "Season2")
s1.head(5)

,Team,GASeason1,PKASeason1,FKSeason1,CKSeason1,OGSeason1,ExpectedPSxGSeason1,ExpectedPSxG/SoTSeason1,ExpectedPSxG+/-Season1,Expected/90Season1,...,PassesAvgLenSeason1,GoalKickAttSeason1,GoalKickLaunch%Season1,GoalKickAvgLenSeason1,CrossesOppSeason1,CrossesStpSeason1,CrossesStp%Season1,Sweep#OPASeason1,Sweep#OPA/90Season1,SweepAvgDistSeason1
3,Wolves,46.0,3.0,1.0,6.0,4.0,39.4,0.26,-2.6,-0.07,...,39.1,291,82.8,50.5,508,15.0,3.0,18.0,0.47,12.1
3,Newcastle,47.0,4.0,0.0,3.0,3.0,48.8,0.30,4.8,0.13,...,42.2,339,83.8,56.4,601,39.0,6.5,32.0,0.84,12.7
1,Brighton,54.0,1.0,1.0,15.0,5.0,48.8,0.28,-0.2,-0.01,...,44.5,352,93.2,57.9,623,38.0,6.1,17.0,0.45,10.2
0,Huddersfield,58.0,4.0,0.0,6.0,1.0,51.7,0.30,-5.3,-0.14,...,45.2,304,81.6,57.9,493,31.0,6.3,55.0,1.45,14.4
2,Sheffield Utd,39.0,1.0,0.0,2.0,0.0,43.7,0.32,4.7,0.12,...,51.9,272,97.4,69.1,572,20.0,3.5,23.0,0.61,12.3

In [39]:
s2.head(1)

,Team,GASeason2,PKASeason2,FKSeason2,CKSeason2,OGSeason2,ExpectedPSxGSeason2,ExpectedPSxG/SoTSeason2,ExpectedPSxG+/-Season2,Expected/90Season2,...,PassesAvgLenSeason2,GoalKickAttSeason2,GoalKickLaunch%Season2,GoalKickAvgLenSeason2,CrossesOppSeason2,CrossesStpSeason2,CrossesStp%Season2,Sweep#OPASeason2,Sweep#OPA/90Season2,SweepAvgDistSeason2
1,Wolves,40.0,1.0,1.0,6.0,1.0,35.5,0.26,-3.5,-0.09,...,39.0,283,78.1,48.7,530,20.0,3.8,11.0,0.29,11.7

In [42]:
final_df = pd.merge(s1, s2, on = "Team")
final_df.to_csv("C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced/keepers-s1vs2.csv", index = False)

In [15]:
all_joined_squads.to_csv("C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced/overall-keepers-teams.csv", index = False)