In [1]:
# Math Operations
import numpy as np
from math import pi

# Data Preprocessing
import pandas as pd
import os
import re
import random
from io import BytesIO
from pathlib import Path

# Reading directories
import glob
import os

# Data Visualisation
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-whitegrid')
!pip install soccerplots
import soccerplots
from soccerplots.radar_chart import Radar   # for custom radar visuals

# Machine Learning
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

# Progress Bar
from tqdm import tqdm

# Display in Jupyter
from IPython.display import Image, YouTubeVideo
from IPython.core.display import HTML

# Print Statement
print('All necessary libraries imported.')

Requirement already satisfied: soccerplots in c:\users\user\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (from soccerplots) (3.4.3)
Requirement already satisfied: pillow in c:\users\user\anaconda3\lib\site-packages (from soccerplots) (8.4.0)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from soccerplots) (1.21.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->soccerplots) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->soccerplots) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->soccerplots) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib->soccerplots) (2.8.2)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->soccerplots) (1.16.0)
All necessary libraries imported.

In [2]:
leeds_s1 = pd.read_csv("datasets\cleanedbasic\leeds20-21.csv")
leeds_s2 = pd.read_csv("datasets\cleanedbasic\leeds21-22.csv")
# hudds
hudds_s1 = pd.read_csv("datasets\cleanedbasic\hudds17-18.csv")
hudds_s2 = pd.read_csv("datasets\cleanedbasic\hudds18-19.csv")
# brighton
bri_s1 = pd.read_csv("datasets/cleanedbasic/brighton17-18.csv")
bri_s2 = pd.read_csv("datasets/cleanedbasic/brighton18-19.csv")
# newcastle
new_s1 = pd.read_csv("datasets/cleanedbasic/newcastle17-18.csv")
new_s2 = pd.read_csv("datasets/cleanedbasic/newcastle18-19.csv")
# sheff utd
sheff_s1 = pd.read_csv("datasets/cleanedbasic/sheffutd19-20.csv")
sheff_s2 = pd.read_csv("datasets/cleanedbasic/sheffutd20-21.csv")
# aston villa
villa_s1 = pd.read_csv("datasets/cleanedbasic/villa19-20.csv")
villa_s2 = pd.read_csv("datasets/cleanedbasic/villa20-21.csv")
# wolves
wolves_s1 = pd.read_csv("datasets/cleanedbasic/wolves18-19.csv")
wolves_s2 = pd.read_csv("datasets/cleanedbasic/wolves19-20.csv")

In [3]:
def find_club_files(pathval, team):
    path = pathval
    extension = 'csv'
    os.chdir(path)
    result = glob.glob(team + '*.{}'.format(extension))
    return result

In [4]:
def selected_season_data(yr, team, values):
    values = find_club_files('C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced', team)
    x = []
    for i in range(len(values)):
        if yr in values[i]:
            x.append(values[i])
    return x

In [5]:
selected_season_data("2021", "leeds", find_club_files('C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced', "leeds"))

['leeds-adkeeper2021-cleaned.csv',
 'leeds-defensive2021-cleaned.csv',
 'leeds-keeper2021-cleaned.csv',
 'leeds-miscell2021-cleaned.csv',
 'leeds-pass2021-cleaned.csv',
 'leeds-playtime2021-cleaned.csv',
 'leeds-shoot2021-cleaned.csv',
 'leeds-shootcreate2021-cleaned.csv']

In [6]:
leeds_s1.columns

Index(['Player', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Per90Gls', 'Per90Ast',
       'Per90G+A', 'Per90G-PK', 'Per90G+A-PK', 'xG', 'npxG', 'xA', 'npxG+xAG',
       'Per90xG', 'Per90xA', 'Per90xG+xA', 'Per90npxG', 'Per90npxG+xAG'],
      dtype='object')

In [7]:
leeds_s1['Pos'].value_counts()

DF      7
MF      4
MFFW    4
DFMF    3
GK      2
MFDF    2
FW      1
Name: Pos, dtype: int64

In [8]:
def join_all_columns(team, yr, df, pos):
    data = find_club_files('C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced', team)
    files = selected_season_data(yr, team, data)
    df1 = df.loc[df['Pos'] != pos]
    final = []
    for i in range(len(files)):
        if "keeper" not in files[i]:
            f = pd.read_csv(files[i])
            f = f.loc[f['Pos'] != pos]
            final.append(f)
    return final

In [9]:
vals = join_all_columns("Leeds", "2021", leeds_s1, "GK")

In [10]:
from functools import reduce
leeds_s1_all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), vals)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/633160844.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  leeds_s1_all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), vals)

In [11]:
leeds_s1_all

,Player,Nation,Pos,Age,90s_x,Tkl,TklWon_x,TacklesDef3rd,TacklesMid3rd,TacklesAtt3rd,...,SCAFld,SCADef,GCA,GCA90,GCAPassLive,GCAPassDead,GCADrib,GCASh,GCAFld,GCADef
0,Stuart Dallas,nir NIR,MFDF,29.0,37.9,74,45,46,22,6,...,1,2,7,0.18,7,0,0,0,0,0
1,Luke Ayling,eng ENG,DF,28.0,37.8,108,61,69,30,9,...,3,0,4,0.11,4,0,0,0,0,0
2,Patrick Bamford,eng ENG,FW,26.0,33.9,21,9,2,11,8,...,4,0,16,0.47,9,0,2,2,3,0
3,Jack Harrison,eng ENG,MFFW,23.0,31.6,63,38,20,30,13,...,1,0,15,0.47,12,1,2,0,0,0
4,Ezgjan Alioski,mk MKD,DFMF,28.0,27.3,74,31,38,28,8,...,3,1,5,0.18,3,1,0,1,0,0
5,Kalvin Phillips,eng ENG,MF,24.0,27.0,74,38,38,29,7,...,1,3,2,0.07,2,0,0,0,0,0
6,Mateusz Klich,pl POL,MF,30.0,26.6,38,20,14,20,4,...,2,0,15,0.56,13,1,1,0,0,0
7,Raphinha,br BRA,MFFW,23.0,26.2,34,17,13,16,5,...,4,1,15,0.57,8,3,2,2,0,0
8,Liam Cooper,sct SCO,DF,28.0,24.3,68,45,39,27,2,...,0,1,2,0.08,2,0,0,0,0,0
9,Pascal Struijk,nl NED,DFMF,20.0,23.1,49,30,28,19,2,...,0,0,2,0.09,2,0,0,0,0,0
10,Tyler Roberts,wls WAL,MFFW,21.0,14.9,15,13,1,11,3,...,6,0,2,0.13,2,0,0,0,0,0
11,Rodrigo,es ESP,MFFW,29.0,14.3,14,7,8,3,3,...,2,2,8,0.56,4,0,1,3,0,0
12,Diego Llorente,es ESP,DF,26.0,13.4,34,21,21,13,0,...,0,0,1,0.07,1,0,0,0,0,0
13,HÃ©lder Costa,ao ANG,MFFW,26.0,12.8,25,11,12,5,8,...,2,0,6,0.47,5,0,0,0,1,0
14,Robin Koch,de GER,DFMF,24.0,12.6,27,16,17,10,0,...,0,0,2,0.16,2,0,0,0,0,0
15,Jamie Shackleton,eng ENG,MFDF,20.0,5.1,10,6,6,4,0,...,0,0,1,0.20,1,0,0,0,0,0
16,Pablo HernÃ¡ndez,es ESP,MF,35.0,4.7,5,3,2,1,2,...,1,1,4,0.85,3,0,0,0,1,0
17,Gaetano Berardi,ch SUI,DF,31.0,1.3,2,2,1,0,1,...,0,0,0,0.00,0,0,0,0,0,0
18,Ian Carlo Poveda,eng ENG,MF,20.0,3.9,5,4,3,0,2,...,0,0,0,0.00,0,0,0,0,0,0
19,Niall Huggins,wls WAL,DF,19.0,0.4,0,0,0,0,0,...,0,0,0,0.00,0,0,0,0,0,0
20,Leif Davis,eng ENG,DF,20.0,0.4,0,0,0,0,0,...,0,0,0,0.00,0,0,0,0,0,0
21,Squad Total,NaN,NaN,26.1,38.0,740,417,378,279,83,...,31,11,108,2.84,81,6,8,8,5,0

In [12]:
leeds_s1_all.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s_x', 'Tkl', 'TklWon_x',
       'TacklesDef3rd', 'TacklesMid3rd', 'TacklesAtt3rd',
       ...
       'SCAFld', 'SCADef', 'GCA', 'GCA90', 'GCAPassLive', 'GCAPassDead',
       'GCADrib', 'GCASh', 'GCAFld', 'GCADef'],
      dtype='object', length=119)

In [13]:
leeds_s1_all.drop([col for col in leeds_s1_all.columns if '_' in col], axis=1, inplace=True)

In [14]:
leeds_s1_all.shape

(22, 109)

In [15]:
duplicate_cols = leeds_s1_all.columns[leeds_s1_all.columns.duplicated()]
duplicate_cols
leeds_s1_all.drop(columns=duplicate_cols, inplace=True)

In [16]:
leeds_s1_all.shape

(22, 109)

In [17]:
#leeds_s1_all.to_csv('leeds-firstseason-allmerged.csv', index = False)

In [18]:
vals1 = join_all_columns("Villa", "1920", villa_s1, "GK")

In [19]:
def join_all_dfs_team(alldfslst):
    _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)
    ## duplicate columns will have endings like _x etc - removes these
    ## no columns had underscores to start
    _all.drop([col for col in _all.columns if '_' in col], axis=1, inplace=True)
    return _all

In [20]:
villa_s1_all = join_all_dfs_team(vals1)
#villa_s1_all.to_csv('villa-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

In [21]:
vals2 = join_all_columns("Newcastle", "1718", new_s1, "GK")
new_s2_all = join_all_dfs_team(vals2)
#new_s2_all.to_csv('newcastle-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

In [22]:
vals3 = join_all_columns("sheffutd", "1920", sheff_s1, "GK")
sheffutd_s1_all = join_all_dfs_team(vals3)
#sheffutd_s1_all.to_csv('sheffutd-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

In [23]:
vals4 = join_all_columns("huddersfield", "1718", hudds_s1, "GK")
hudds_s1_all = join_all_dfs_team(vals4)
#hudds_s1_all.to_csv('huddersfield-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

In [24]:
vals5 = join_all_columns("newcastle", "1718", new_s1, "GK")
new_s1_all = join_all_dfs_team(vals5)
new_s1_all.shape
#new_s1_all.to_csv('newcastle-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(25, 109)

In [25]:
vals6 = join_all_columns("brighton", "1718", bri_s1, "GK")
bri_s1_all = join_all_dfs_team(vals6)
bri_s1_all.shape
#bri_s1_all.to_csv('brighton-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(24, 109)

In [26]:
vals7 = join_all_columns("wolves", "1819", wolves_s1, "GK")
wolves_s1_all = join_all_dfs_team(vals7)
#wolves_s1_all.to_csv('wolves-firstseason-allmerged.csv', index = False)

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

In [27]:
wolves_s1_all.tail()

,Player,Nation,Pos,Age,Tkl,TacklesDef3rd,TacklesMid3rd,TacklesAtt3rd,VSDribblesTkl,VSDribblesAtt,...,SCAFld,SCADef,GCA,GCA90,GCAPassLive,GCAPassDead,GCADrib,GCASh,GCAFld,GCADef
14,Ivan Cavaleiro,pt POR,FWMF,24.0,5,3,1,1,1,14,...,0,0,3,0.39,3,0,0,0,0,0
15,Morgan Gibbs-White,eng ENG,MFFW,18.0,6,2,4,0,1,4,...,0,0,3,0.41,2,0,1,0,0,0
16,LÃ©o Bonatini,br BRA,FW,24.0,1,0,0,1,1,5,...,0,0,3,2.00,3,0,0,0,0,0
17,Max Kilman,eng ENG,DF,21.0,0,0,0,0,0,0,...,0,0,0,0.00,0,0,0,0,0,0
18,Squad Total,NaN,NaN,26.1,720,385,284,51,283,664,...,40,13,83,2.18,58,6,5,6,8,0

In [28]:
### squad totals for Season 1
wolvestotals_s1 = wolves_s1_all.loc[wolves_s1_all['Player'] == 'Squad Total']
newtotals_s1 = new_s1_all.loc[new_s1_all['Player'] == 'Squad Total']
britotals_s1 = bri_s1_all.loc[bri_s1_all['Player'] == 'Squad Total']
huddsstotals_s1 = hudds_s1_all.loc[hudds_s1_all['Player'] == 'Squad Total']
sheffutdtotals_s1 = sheffutd_s1_all.loc[sheffutd_s1_all['Player'] == 'Squad Total']
villatotals_s1 = villa_s1_all.loc[villa_s1_all['Player'] == 'Squad Total']
leetotals_s1 = leeds_s1_all.loc[leeds_s1_all['Player'] == 'Squad Total']

In [29]:
### Do season 2

In [30]:
s2val1 = join_all_columns("leeds", "2122", leeds_s2, "GK")
lee_s2_all = join_all_dfs_team(s2val1)
lee_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(28, 109)

In [31]:
s2val2 = join_all_columns("Villa", "2021", villa_s2, "GK")
villa_s2_all = join_all_dfs_team(s2val2)
villa_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(24, 109)

In [32]:
s2val3 = join_all_columns("Newcastle", "1819", new_s2, "GK")
new_s2_all = join_all_dfs_team(s2val3)
new_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(24, 109)

In [33]:
s2val4 = join_all_columns("sheffutd", "2021", sheff_s2, "GK")
sheff_s2_all = join_all_dfs_team(s2val4)
sheff_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(27, 109)

In [34]:
s2val5 = join_all_columns("huddersfield", "1819", hudds_s2, "GK")
hudds_s2_all = join_all_dfs_team(s2val5)
hudds_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(29, 109)

In [35]:
s2val6 = join_all_columns("brighton", "1819", bri_s2, "GK")
bri_s2_all = join_all_dfs_team(s2val6)
bri_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(20, 109)

In [36]:
s2val7 = join_all_columns("wolves", "1920", wolves_s2, "GK")
wolves_s2_all = join_all_dfs_team(s2val7)
wolves_s2_all.shape

C:\Users\user\AppData\Local\Temp/ipykernel_7128/903767908.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'90s_x'} in the result is deprecated and will raise a MergeError in a future version.
  _all = reduce(lambda x, y: pd.merge(x, y, on = ["Player","Nation", "Age", "Pos"]), alldfslst)

(21, 109)

In [49]:
bri_s2_all.to_csv('brighton-secondseasonallmerged.csv', index = False)
wolves_s2_all.to_csv('wolves-secondseasonallmerged.csv', index = False)
lee_s2_all.to_csv('leeds-secondseasonallmerged.csv', index = False)
villa_s2_all.to_csv('villa-secondseasonallmerged.csv', index = False)
new_s2_all.to_csv('newcastle-secondseasonallmerged.csv', index = False)
hudds_s2_all.to_csv('hudds-secondseasonallmerged.csv', index = False)
sheff_s2_all.to_csv('sheffu-secondseasonallmerged.csv', index = False)

In [37]:
### get squad totals
wolvestotals_s2 = wolves_s2_all.loc[wolves_s2_all['Player'] == 'Squad Total']
newtotals_s2 = new_s2_all.loc[new_s2_all['Player'] == 'Squad Total']
britotals_s2 = bri_s2_all.loc[bri_s2_all['Player'] == 'Squad Total']
huddsstotals_s2 = hudds_s2_all.loc[hudds_s2_all['Player'] == 'Squad Total']
sheffutdtotals_s2 = sheff_s2_all.loc[sheff_s2_all['Player'] == 'Squad Total']
villatotals_s2 = villa_s2_all.loc[villa_s2_all['Player'] == 'Squad Total']
leetotals_s2 = lee_s2_all.loc[lee_s2_all['Player'] == 'Squad Total']

In [38]:
### replace squad totals
# s2
wolvestotals_s2.replace({'Player': {'Squad Total': 'Wolves S2'}}, inplace = True)
newtotals_s2.replace({'Player': {'Squad Total': 'Newcastle S2'}}, inplace = True)
britotals_s2.replace({'Player': {'Squad Total': 'Brighton S2'}}, inplace = True)
huddsstotals_s2.replace({'Player': {'Squad Total': 'Huddersfield S2'}}, inplace = True)
sheffutdtotals_s2.replace({'Player': {'Squad Total': 'Sheffield Utd S2'}}, inplace = True)
villatotals_s2.replace({'Player': {'Squad Total': 'Aston Villa S2'}}, inplace = True)
leetotals_s2.replace({'Player': {'Squad Total': 'Leeds United S2'}}, inplace = True)
# s1
wolvestotals_s1.replace({'Player': {'Squad Total': 'Wolves S1'}}, inplace = True)
newtotals_s1.replace({'Player': {'Squad Total': 'Newcastle S1'}}, inplace = True)
britotals_s1.replace({'Player': {'Squad Total': 'Brighton S1'}}, inplace = True)
huddsstotals_s1.replace({'Player': {'Squad Total': 'Huddersfield S1'}}, inplace = True)
sheffutdtotals_s1.replace({'Player': {'Squad Total': 'Sheffield Utd S1'}}, inplace = True)
villatotals_s1.replace({'Player': {'Squad Total': 'Aston Villa S1'}}, inplace = True)
leetotals_s1.replace({'Player': {'Squad Total': 'Leeds United S1'}}, inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [40]:
all_joined_squads = pd.concat([wolvestotals_s2, newtotals_s2, britotals_s2, huddsstotals_s2, sheffutdtotals_s2, villatotals_s2,
          leetotals_s2, wolvestotals_s1, newtotals_s1, britotals_s1, huddsstotals_s1, sheffutdtotals_s1,
          villatotals_s1, leetotals_s1], axis=0)

In [43]:
all_joined_squads.drop(columns = ['Pos', 'Nation'], inplace = True)

In [44]:
all_joined_squads

,Player,Age,Tkl,TacklesDef3rd,TacklesMid3rd,TacklesAtt3rd,VSDribblesTkl,VSDribblesAtt,VSDribblesTkl%,VSDribblesPast,...,SCAFld,SCADef,GCA,GCA90,GCAPassLive,GCAPassDead,GCADrib,GCASh,GCAFld,GCADef
20,Wolves S2,26.6,646,358,227,61,281,685,41.0,404,...,46,18,83,2.18,53,6,9,8,7,0
23,Newcastle S2,26.9,711,356,291,64,241,565,42.7,324,...,42,18,68,1.79,46,5,4,10,2,1
19,Brighton S2,27.4,679,363,238,78,264,582,45.4,318,...,45,12,55,1.45,29,9,1,7,8,1
28,Huddersfield S2,26.2,708,323,315,70,263,625,42.1,362,...,37,14,33,0.87,23,4,0,3,3,0
26,Sheffield Utd S2,26.7,634,325,239,70,294,720,40.8,426,...,23,5,27,0.71,16,3,2,3,3,0
23,Aston Villa S2,25.2,530,262,202,66,250,571,43.8,321,...,58,12,94,2.47,66,8,4,6,9,1
27,Leeds United S2,26.1,786,395,298,93,408,886,46.0,478,...,42,14,66,1.74,36,2,10,10,5,3
18,Wolves S1,26.1,720,385,284,51,283,664,42.6,381,...,40,13,83,2.18,58,6,5,6,8,0
24,Newcastle S1,25.6,645,338,255,52,221,638,34.6,417,...,39,20,63,1.66,43,7,2,10,1,0
23,Brighton S1,27.5,599,360,205,34,205,642,31.9,437,...,31,8,60,1.58,43,3,4,4,6,0
24,Huddersfield S1,26.4,743,354,306,83,249,630,39.5,381,...,36,16,45,1.18,29,4,6,3,3,0
24,Sheffield Utd S1,26.9,611,304,229,78,261,646,40.4,385,...,23,6,63,1.66,47,3,6,6,1,0
24,Aston Villa S1,25.7,523,285,174,64,223,597,37.4,374,...,56,7,72,1.89,48,8,5,4,7,0
21,Leeds United S1,26.1,740,378,279,83,310,769,40.3,459,...,31,11,108,2.84,81,6,8,8,5,0

In [46]:
### lets add points column to data
points = [59, 45, 36, 16, 23, 55, 38, 57, 44, 40, 37, 54, 35, 59]
all_joined_squads['Points Total'] = points

In [48]:
#all_joined_squads.to_csv("C:/Users/user/Desktop/xg-data-analysis/datasets/cleanedAdvanced/overall-teams-data.csv")