In [1]:
import pandas as pd
import numpy as np

from IPython.display import display

%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
from IPython.display import display
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
print('Packages for Mathematical Computation and visualization imported!')

Packages for Mathematical Computation and visualization imported!

In [6]:
leeds_s1 = pd.read_csv("datasets\cleanedbasic\leeds20-21.csv")
leeds_s2 = pd.read_csv("datasets\cleanedbasic\leeds21-22.csv")
# hudds
hudds_s1 = pd.read_csv("datasets\cleanedbasic\hudds17-18.csv")
hudds_s2 = pd.read_csv("datasets\cleanedbasic\hudds18-19.csv")
# brighton
bri_s1 = pd.read_csv("datasets/cleanedbasic/brighton17-18.csv")
bri_s2 = pd.read_csv("datasets/cleanedbasic/brighton18-19.csv")
# newcastle
new_s1 = pd.read_csv("datasets/cleanedbasic/newcastle17-18.csv")
new_s2 = pd.read_csv("datasets/cleanedbasic/newcastle18-19.csv")
# sheff utd
sheff_s1 = pd.read_csv("datasets/cleanedbasic/sheffutd19-20.csv")
sheff_s2 = pd.read_csv("datasets/cleanedbasic/sheffutd20-21.csv")
# aston villa
villa_s1 = pd.read_csv("datasets/cleanedbasic/villa19-20.csv")
villa_s2 = pd.read_csv("datasets/cleanedbasic/villa20-21.csv")
# wolves
wolves_s1 = pd.read_csv("datasets/cleanedbasic/wolves18-19.csv")
wolves_s2 = pd.read_csv("datasets/cleanedbasic/wolves19-20.csv")

In [8]:
season_1 = ['leeds_s1', 'hudds_s1', 'bri_s1', 'new_s1', 'sheff_s1', 'villa_s1', 'wolves_s1']
season_2 = ['leeds_s2', 'hudds_s2', 'bri_s2', 'new_s2', 'sheff_s2', 'villa_s2', 'wolves_s2']

In [10]:
leeds_s1.loc[leeds_s1['Player'] == 'Squad Total']

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Per90G+A-PK,xG,npxG,xA,npxG+xAG,Per90xG,Per90xA,Per90xG+xA,Per90npxG,Per90npxG+xAG
23,Squad Total,NaN,NaN,26.1,38,418,3420,38.0,60,45,...,2.66,55.6,52.5,41.9,94.3,1.46,1.1,2.57,1.38,2.48