In [5]:
import pandas as pd
import numpy as np
import wget

from webdriver_manager.chrome import ChromeDriverManager

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.remote.webelement import WebElement
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import time
import os
import random
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

#os.environ['WDM_SSL_VERIFY']='0'

driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 109.0.5414
Get LATEST chromedriver version for 109.0.5414 google-chrome
C:\Users\user\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'chromedriver.storage.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
Trying to download new driver from https://chromedriver.storage.googleapis.com/109.0.5414.74/chromedriver_win32.zip
C:\Users\user\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'chromedriver.storage.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
Driver has been saved in cache [C:\Users\user\.wdm\drivers\chromedriver\win32\109.0.5414.74]
C:\Users\user\AppData\Local\Temp/ipykernel_13916/3231335104.py:23: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [12]:
yr1 = [2017,2018,2019,2020,2021,2022]
yr2 = [2018,2019,2020,2021,2022,2023]
all_lsts_clubs = []
all_lsts_spent = []
all_lsts_net = []
for i in range(len(yr1)):
    link = "https://www.transfermarkt.co.uk/premier-league/einnahmenausgaben/wettbewerb/GB1/plus/0?ids=a&sa=&saison_id=" + str(yr1[i]) + "&saison_id_bis=" + str(yr2[i]) + "&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    driver.get(link)
    lst_clubs_season = []
    lst_clubs_spent = []
    lst_clubs_net = []
    name = driver.find_elements_by_xpath('//td[@class="hauptlink no-border-links"]')
    expense = driver.find_elements_by_xpath('//td[@class="rechts hauptlink redtext"]')
    net_spend = driver.find_elements_by_xpath('//td[@class="rechts hauptlink"]')
    # rechts hauptlink
    # rechts hauptlink redtext
    for i in range(len(name)):
        lst_clubs_season.append(name[i].text)
        lst_clubs_spent.append(expense[i].text)
        lst_clubs_net.append(net_spend[i].text)
    all_lsts_clubs.append(lst_clubs_season)
    all_lsts_spent.append(lst_clubs_spent)
    all_lsts_net.append(lst_clubs_net)
    time.sleep(4 + random.uniform(0, 6))

C:\Users\user\AppData\Local\Temp/ipykernel_13916/1899539668.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name = driver.find_elements_by_xpath('//td[@class="hauptlink no-border-links"]')
C:\Users\user\AppData\Local\Temp/ipykernel_13916/1899539668.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  expense = driver.find_elements_by_xpath('//td[@class="rechts hauptlink redtext"]')
C:\Users\user\AppData\Local\Temp/ipykernel_13916/1899539668.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  net_spend = driver.find_elements_by_xpath('//td[@class="rechts hauptlink"]')

In [13]:
len(all_lsts_clubs)

6

In [14]:
len(all_lsts_spent)

6

In [15]:
len(all_lsts_net)

6

In [16]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
df5 = pd.DataFrame()
df6 = pd.DataFrame()
lst_dfs = [df1, df2, df3, df4, df5, df6]
for i in range(len(all_lsts_clubs)):
    lst_dfs[i]['Club'] = all_lsts_clubs[i]
    lst_dfs[i]['Expenditure'] = all_lsts_spent[i]
    lst_dfs[i]['Net'] = all_lsts_net[i]

In [17]:
df1.head()

                Club Expenditure        Net
0         Chelsea FC    €469.30m  €-191.45m
1    Manchester City    €396.09m  €-247.14m
2       Liverpool FC    €355.85m  €-130.03m
3         Everton FC    €303.00m  €-147.97m
4  Manchester United    €281.10m  €-205.05m

In [18]:
df2.head()

                      Club Expenditure        Net
0        Manchester United    €317.50m  €-205.77m
1               Chelsea FC    €253.80m   €-13.28m
2               Arsenal FC    €240.95m  €-178.20m
3          Manchester City    €238.11m  €-109.51m
4  Wolverhampton Wanderers    €229.45m  €-182.05m

In [19]:
df6.head()

                      Club Expenditure        Net
0               Chelsea FC    €611.49m  €-543.66m
1        Manchester United    €243.28m  €-230.03m
2          West Ham United    €194.00m  €-172.45m
3               Arsenal FC    €192.36m  €-168.56m
4  Wolverhampton Wanderers    €188.11m  €-127.74m

In [20]:
df1.to_csv('datasets/scrapeddata/clubs-spent-1718')
df2.to_csv('datasets/scrapeddata/clubs-spent-1819')
df3.to_csv('datasets/scrapeddata/clubs-spent-1920')
df4.to_csv('datasets/scrapeddata/clubs-spent-2021')
df5.to_csv('datasets/scrapeddata/clubs-spent-2122')
df6.to_csv('datasets/scrapeddata/clubs-spent-2223')

### Scrape Wages
Scraped from [spotrac](https://www.spotrac.com/epl/payroll/2017/).

In [45]:
persons = []
driver.get("https://www.spotrac.com/epl/payroll/")
for person in driver.find_elements_by_class_name('parent'):
    title = person.find_element_by_xpath('.//td[@class="result center"]').text
    company = person.find_element_by_xpath('.//td[@class=" player noborderleft"]').text

    persons.append({'title': title, 'company': company})

C:\Users\user\AppData\Local\Temp/ipykernel_13916/337686111.py:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for person in driver.find_elements_by_class_name('parent'):

In [46]:
persons

[{'title': '£211,875,000', 'company': 'Manchester United F.C.'},
 {'title': '£204,290,000', 'company': 'Chelsea F.C.'},
 {'title': '£182,640,000', 'company': 'Manchester City F.C.'},
 {'title': '£158,788,000', 'company': 'Liverpool F.C.'},
 {'title': '£110,438,000', 'company': 'Tottenham Hotspur F.C.'},
 {'title': '£97,878,000', 'company': 'Arsenal F.C.'},
 {'title': '£89,880,000', 'company': 'Aston Villa F.C.'},
 {'title': '£80,707,000', 'company': 'Everton F.C.'},
 {'title': '£80,060,000', 'company': 'West Ham United F.C.'},
 {'title': '£76,220,600', 'company': 'Newcastle United F.C.'},
 {'title': '£73,190,000', 'company': 'Leicester City'},
 {'title': '£67,624,000', 'company': 'Crystal Palace'},
 {'title': '£66,680,000', 'company': 'Nottingham Forest F.C.'},
 {'title': '£58,748,000', 'company': 'Fulham F.C.'},
 {'title': '£53,118,000', 'company': 'Wolverhampton Wanderers F.C.'},
 {'title': '£51,496,000', 'company': 'Southampton F.C.'},
 {'title': '£48,100,000', 'company': 'Leeds United F.C.'},
 {'title': '£39,936,000', 'company': 'AFC Bournemouth'},
 {'title': '£35,685,000', 'company': 'Brighton & Hove Albion'},
 {'title': '£30,170,000', 'company': 'Brentford F.C.'},
 {'title': '£9,146,400', 'company': 'Sheffield United F.C.'},
 {'title': '£7,056,200', 'company': 'West Bromwich Albion F.C.'},
 {'title': '£182,000', 'company': 'Queens Park Rangers F.C.'},
 {'title': '£40,000', 'company': 'Stoke City F.C.'},
 {'title': '£0', 'company': 'Reading F.C.'},
 {'title': '£0', 'company': 'Sunderland A.F.C.'},
 {'title': '£0', 'company': 'Swansea City A.F.C.'},
 {'title': '£0', 'company': 'Wigan Athletic F.C.'},
 {'title': '£0', 'company': 'Hull City F.C.'},
 {'title': '£0', 'company': 'Middlesbrough'},
 {'title': '£0', 'company': 'Huddersfield Town'},
 {'title': '£0', 'company': 'Barnsley F.C.'},
 {'title': '£0', 'company': 'Birmingham City F.C.'},
 {'title': '£0', 'company': 'Bolton Wanderers F.C.'},
 {'title': '£0', 'company': 'Bristol City F.C.'},
 {'title': '£0', 'company': 'Burton Albion F.C.'},
 {'title': '£0', 'company': 'Derby County F.C.'},
 {'title': '£0', 'company': 'Cardiff City F.C.'},
 {'title': '£0', 'company': 'Ipswich Town F.C.'},
 {'title': '£0', 'company': 'Millwall F.C.'},
 {'title': '£0', 'company': 'Preston North End F.C.'},
 {'title': '£0', 'company': 'Sheffield Wednesday F.C.'}]

In [ ]:
len(lst_wage)

In [47]:
yrs_wages = [2017,2018,2019,2020,2021,""]
clubs_wage_lst = []
wage_list = []
for j in range(len(yrs_wages)):
    clbs = []
    wges = []
    link = "https://www.spotrac.com/epl/payroll/" + str(yrs_wages[j])
    driver.get(link)
    for person in driver.find_elements_by_class_name('parent'):
        cost = person.find_element_by_xpath('.//td[@class="result center"]').text
        company = person.find_element_by_xpath('.//td[@class=" player noborderleft"]').text
        clbs.append(company)
        wges.append(cost)
    clubs_wage_lst.append(clbs)
    wage_list.append(wges)

    # result center
    #print(lst_wage)

C:\Users\user\AppData\Local\Temp/ipykernel_13916/1797001495.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for person in driver.find_elements_by_class_name('parent'):

In [51]:
len(clubs_wage_lst)

6

In [54]:
df11 = pd.DataFrame()
df21 = pd.DataFrame()
df31 = pd.DataFrame()
df41 = pd.DataFrame()
df51 = pd.DataFrame()
df61 = pd.DataFrame()
lst_dfs_wage = [df11, df21, df31, df41, df51, df61]
for i in range(len(clubs_wage_lst)):
    lst_dfs_wage[i]['Club'] = clubs_wage_lst[i]
    lst_dfs_wage[i]['WageBill'] = wage_list[i]

In [59]:
df61.shape

(42, 2)

In [58]:
list(df1.Club.unique())

['Chelsea FC',
 'Manchester City',
 'Liverpool FC',
 'Everton FC',
 'Manchester United',
 'Arsenal FC',
 'Leicester City',
 'West Ham United',
 'Brighton & Hove Albion',
 'Wolverhampton Wanderers',
 'Fulham FC',
 'AFC Bournemouth',
 'Tottenham Hotspur',
 'Southampton FC',
 'Stoke City',
 'Huddersfield Town',
 'Newcastle United',
 'Watford FC',
 'Swansea City',
 'Burnley FC',
 'West Bromwich Albion',
 'Crystal Palace',
 'Cardiff City']

In [67]:
df11.to_csv('datasets/scrapeddata/clubs-wage-1718')
df21.to_csv('datasets/scrapeddata/clubs-wage-1819')
df31.to_csv('datasets/scrapeddata/clubs-wage-1920')
df41.to_csv('datasets/scrapeddata/clubs-wage-2021')
df51.to_csv('datasets/scrapeddata/clubs-wage-2122')
df61.to_csv('datasets/scrapeddata/clubs-wage-2223')